<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with(model: @personal_detail, local: true) do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        Personal information
      </h1>

      <%= f.govuk_text_field :given_name, label: { text: "Enter your given name, as it appears on your passport", size: "s" } %>
      <%= f.govuk_text_field :family_name, label: { text: "Enter your family name, as it appears on your passport", size: "s" } %>
      <%= f.govuk_text_field :email_address, label: { text: "Enter your current email address", size: "s" }, hint: { text: "We will use this to contact you so please make sure you have entered it correctly." } %>
      <%= f.govuk_text_field :phone_number,
        label: { text: "Enter your current phone number", size: "s" },
        hint: { text: "For international numbers include the country code. We will use this to contact you so please make sure you have entered it correctly." }
      %>
      <%= f.govuk_date_field :date_of_birth, date_of_birth: true, legend: { text: "Enter your date of birth, as it appears on your passport", size: "s" } %>

      <%= f.govuk_fieldset legend: { text: 'Enter your address', size: 's' } do %>
        <%= f.govuk_text_field :address_line_1, label: { text: 'Address line 1', size: "s"} %>
        <%= f.govuk_text_field :address_line_2, label: { text: 'Address line 2 (Optional)', size: "s"} %>
        <%= f.govuk_text_field :city, label: { text: 'Town or city', size: "s"} %>
        <%= f.govuk_text_field :county, label: { text: 'County (optional)', size: "s"} %>
        <%= f.govuk_text_field :postcode, label: { size: "s"} %>
      <% end %>

      <%= f.govuk_select(:nationality, nationality_options, label: { text: "Nationality", size: "s" }) %>

      <%= f.govuk_radio_buttons_fieldset(:sex, legend: { text: "Select your sex", size: "s" }) do %>
        <% Applicants::PersonalDetail::SEX_OPTIONS.each_with_index do |value, i| %>
          <%= f.govuk_radio_button :sex, value, label: { text: value.humanize }, link_errors: i.zero? %>
        <% end %>
      <% end %>

      <%= f.govuk_text_field :passport_number, label: { text: "Enter your passport number, as it appears on your passport", size: "s" } %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
