<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with(model: @employment_detail, local: true) do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        Employment information
      </h1>

      <%= f.govuk_text_field :school_headteacher_name, label: { text: "Enter the name of the Headteacher or Principal of the school", size: "s" } %>

      <%= f.govuk_text_field :school_name, label: { text: t("applicants.employment_details.school_name.title.#{application_route}"), size: "s" } %>
      <%= f.govuk_fieldset legend: { text: 'Enter the school address', size: 's' } do %>
        <%= f.govuk_text_field :school_address_line_1, label: { text: 'Address line 1', size: "s"} %>
        <%= f.govuk_text_field :school_address_line_2, label: { text: 'Address line 2 (Optional)', size: "s"} %>
        <%= f.govuk_text_field :school_city, label: { text: 'Town or city', size: "s"} %>
        <%= f.govuk_text_field :school_county, label: { text: 'County (optional)', size: "s"} %>
        <%= f.govuk_text_field :school_postcode, label: { text: 'Postcode', size: "s"} %>
      <% end %>

      <%= f.govuk_submit "Submit application" %>
    <% end %>
  </div>
</div>
