<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with(model: @employment_detail, local: true) do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        Employment information
      </h1>

      <%= f.govuk_text_field :school_name, label: { text: "Enter the name of the school where you are employed as a trainee teacher", size: "s" } %>
      <%= f.govuk_text_field :school_headteacher_name, label: { text: "Please provide the name of the Head teacher or Principal of the school", size: "s" } %>

      <%= f.govuk_submit "Submit application" %>
    <% end %>
  </div>
</div>