<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with(model: @employment_detail, local: true) do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <%= t("applicants.employment_details.title") %>
      </h1>

      <%= f.govuk_text_field :school_headteacher_name, label: { text: t("applicants.employment_details.headteacher"), size: "s" } %>

      <%= f.govuk_text_field :school_name, label: { text: t("applicants.employment_details.school_name.title.#{application_route}"), size: "s" } %>
      <%= f.govuk_fieldset legend: { text: t("applicants.employment_details.address"), size: 's' } do %>
        <%= f.govuk_text_field :school_address_line_1, label: { text: t("applicants.employment_details.address_line_1"), size: "s"} %>
        <%= f.govuk_text_field :school_address_line_2, label: { text: t("applicants.employment_details.address_line_2"), size: "s"} %>
        <%= f.govuk_text_field :school_city, label: { text: t("applicants.employment_details.city"), size: "s"} %>
        <%= f.govuk_text_field :school_postcode, label: { text: t("applicants.employment_details.postcode"), size: "s"} %>
      <% end %>

      <%= f.govuk_submit "Submit application" %>
    <% end %>
  </div>
</div>
