<h1>Dashboard</h1>

<div class="dashboard">
  <div class="kpi-widget">
    <h3 class="title">Total Applications</h3>
    <p class="value"><%= @kpi_service.total_applications %></p>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Aprovals</h3>
    <p class="value"><%= @kpi_service.total_approvals %></p>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Rejections</h3>
    <p class="value"><%= @kpi_service.total_rejections %></p>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Time to Payment</h3>
    <p class="value"><%= duration_in_words(@kpi_service.time_to_payment) %></p>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Time to Approval</h3>
    <p class="value"><%= duration_in_words(@kpi_service.time_to_approval) %></p>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Nationality</h3>
    <table class="kpi-table">
      <% @kpi_service.nationality_breakdown.each do |k,v|%>
        <tr>
          <td><%= k %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Gender</h3>
    <table class="kpi-table">
      <% @kpi_service.gender_breakdown.each do |k,v|%>
        <tr>
          <td><%= k %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Age</h3>
    <table class="kpi-table">
      <% @kpi_service.age_breakdown.each do |k,v|%>
        <tr>
          <td><%= k %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Visa</h3>
    <table class="kpi-table">
      <% @kpi_service.visa_breakdown.each do |k,v|%>
        <tr>
          <td><%= k %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Route</h3>
    <table class="kpi-table">
      <% @kpi_service.route_breakdown.each do |k,v|%>
        <tr>
          <td><%= k %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Subject
      <table class="kpi-table">
        <% @kpi_service.subject_breakdown.each do |k,v|%>
          <tr>
            <td><%= k %></td>
            <td><%= v %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
