<div class="dashboard">
  <div class="kpi-widget applications">
    <h3 class="title">Applications</h3>
    <p class="value"><%= @kpis.total_applications %></p>
  </div>
  <div class="kpi-widget paid">
    <h3 class="title">Total Paid</h3>
    <p class="value"><%= @kpis.total_paid %></p>
  </div>
  <div class="kpi-widget routes">
    <h3 class="title">Routes</h3>
    <table class="kpi-table">
      <% @kpis.route_breakdown.each do |k,v|%>
        <tr>
          <td><%= k.titleize %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="kpi-widget subjects">
    <h3 class="title">Subjects</h3>
    <table class="kpi-table">
      <% @kpis.subject_breakdown.each do |k,v|%>
        <tr>
          <td><%= k.titleize %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </table>
  </div>
  
  <div class="kpi-widget visas">
    <h3 class="title">Visa</h3>
    <table class="kpi-table">
      <% @kpis.visa_breakdown.each do |k,v|%>
        <tr>
          <td><%= k %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </table>
  </div>
  
  <div class="kpi-widget nationalities">
    <h3 class="title">Nationalities</h3>
    <table class="kpi-table">
      <% @kpis.nationality_breakdown.each do |k,v|%>
        <tr>
          <td><%= k.titleize %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </table>
  </div>
      
  <div class="kpi-widget genders">
    <h3 class="title">Genders</h3>
    <table class="kpi-table">
      <% @kpis.gender_breakdown.each do |k,v|%>
        <tr>
          <td><%= k.titleize %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
