<%= content_for(:breadcrumbs) do %>
  <%= govuk_breadcrumbs(breadcrumbs: [
    govuk_breadcrumb_link_to("Applications", applicants_path),
    govuk_breadcrumb_link_to(@applicant.full_name, applicant_path(@applicant)),
    govuk_breadcrumb_link_to("Update Progress", "#")
  ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @progress, url: applicant_path(@applicant), local: true do |f| %>
      <%= f.govuk_error_summary %>
      <span class="govuk-caption-l"><%= @applicant.full_name %></span>
      <h1 class="govuk-heading-l">Update progress</h1>

      <%= f.govuk_date_field :initial_checks_completed_at, legend: { text: "Initial checks completed", size: "s" } %>

      <h2 class="govuk-heading-m">Home Office verification</h2>
      <%= f.govuk_date_field :home_office_checks_completed_at, legend: { text: "Home office checks completed", size: "s" } %>
      <%= f.govuk_check_box :visa_investigation_required, 1, 0, multiple: false, link_errors: true, label: { text: "Home Office Investigation Required" } %>

      <h2 class="govuk-heading-m">School verification</h2>
      <%= f.govuk_date_field :school_checks_completed_at, legend: { text: "School checks completed", size: "s" } %>
      <%= f.govuk_check_box :school_investigation_required, 1, 0, multiple: false, link_errors: true, label: { text: "School Investigation Required" } %>

      <%= f.govuk_date_field :banking_approval_completed_at, legend: { text: "Banking Details Aproved", size: "s" } %>
      <%= f.govuk_date_field :payment_confirmation_completed_at, legend: { text: "Payment Confirmation (payslip)", size: "s" } %>
      <%= f.govuk_date_field :rejection_completed_at, legend: { text: "Rejection Date", size: "s" } %>
      <%= f.govuk_text_area :rejection_reason, label: { text: 'Rejection Reason' }, rows: 3 %>

      <%= f.govuk_submit("Update") %>
    <% end %>
  </div>
</div>
