<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back to all applications",
    href: applicants_path,
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class ="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-l"><%= @applicant.application.application_route&.humanize %></span>
    <h1 class="govuk-heading-l">
      <%= @applicant.full_name %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class ="govuk-grid-column-full">
    <p class="govuk-body">
      <%= govuk_link_to "Update progress", edit_applicant_path(@applicant), class: "govuk-link" %>
    </p>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Application received
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.created_at.to_fs(:govuk_date_and_time) %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Initial checks completed
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @progress.initial_checks_completed_at&.to_fs(:govuk) %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Visa investigation required
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @progress.visa_investigation_required %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Home office checks completed
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @progress.home_office_checks_completed_at&.to_fs(:govuk) %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          School investigation required
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @progress.school_investigation_required %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          School checks completed
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @progress.school_checks_completed_at&.to_fs(:govuk) %>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class ="govuk-grid-column-full">

    <h2 class="govuk-heading-m">Personal details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Given name
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @applicant.given_name %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Family name
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @applicant.family_name %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @applicant.email_address %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @applicant.phone_number %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @applicant.date_of_birth.to_fs(:govuk) %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Nationality
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @applicant.nationality %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Passport number
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @applicant.passport_number %>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">School details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          School name
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @applicant.school.name %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          School postcode
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @applicant.school.postcode %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Subject
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @applicant.application.subject %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          School headteacher name
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @applicant.school.headteacher_name %>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Visa details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Visa type
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @applicant.application.visa_type %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of entry
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @applicant.application.date_of_entry.to_fs(:govuk) %>
        </dd>
      </div>
    </dl>
  </div>
</div>
