<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with(model: @school_detail, local: true) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(:state_funded_secondary_school, legend: { text: "Are you currently employed by an English state-funded secondary school?", tag: "h1", size: "l" }) do %>
        <% Applicants::SchoolDetail::SCHOOL_OPTIONS.each_with_index do |value, i| %>
          <%= f.govuk_radio_button :state_funded_secondary_school, value, label: { text: value.humanize }, link_errors: i.zero? %>
        <% end %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
