<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with(model: @subject_eligibility, local: true) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(:subject, legend: { text: "What subject are you contracted to teach at your employing school?", tag: "h1", size: "l" }) do %>
        <% Applicants::SubjectEligibility::SUBJECT_OPTIONS.each_with_index do |value, i| %>
          <%= f.govuk_radio_button :subject, value, label: { text: t("activemodel.attributes.applicants/subject_eligibility.subject.#{value}") }, link_errors: i.zero? %>
        <% end %>
      <% end %>
      
      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>