<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with(model: @teaching_detail, local: true) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(
        :fifty_percent,
        legend: { text: t("applicants.teaching_details.title.#{application_type}"), tag: "h1", size: "l" },
        hint: { text: "If you're not sure check with your school." }) do %>
        <% Applicants::TeachingDetail::OPTIONS.each_with_index do |value, i| %>
          <%= f.govuk_radio_button :fifty_percent, value, label: { text: value.humanize }, link_errors: i.zero? %>
        <% end %>
      <% end %>
      
      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>