<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with(model: @personal_detail, local: true) do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        Personal details
      </h1>

      <%= f.govuk_text_field :first_names, label: { text: "First names", size: "m" }, hint: { text: "Please enter your given name(s) – as it appears on your passport" } %>
      <%= f.govuk_text_field :last_names, label: { text: "Last names", size: "m" }, hint: { text: "Please enter your family name(s) – as it appears on your passport" } %>
      <%= f.govuk_text_field :email, label: { text: "Email", size: "m" } %>
      
      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>