<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with(model: @salaried_course_detail, local: true) do |f| %>

      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(
        :eligible_course,
        hint: { text: t("applicants.salaried_course.hint") },
        legend: { text: t("applicants.salaried_course.title"), tag: "h1", size: "l" }
      ) do %>

        <p class="govuk-body">
          The course must:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>pay a salary</li>
          <li>lead to QTS</li>
          <li>be accredited by the UK government</li>
        </ul>

        <% Applicants::SalariedCourseDetail::ELIGIBLE_COURSE_OPTIONS.each_with_index do |value, i| %>
          <%= f.govuk_radio_button :eligible_course, value, label: { text: value.humanize }, link_errors: i.zero? %>
        <% end %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
